{% load static %}
       <div class="container">
            <div class="intro">
                <h6 class="text-center">Not found what you want? <br><br>
                    <a class="login btn btn-primary text-center"
                            href="https://{{ page }}.stackexchange.com/users/login">Login to your account</a></h6>
            </div>
        </div>

                <div id="accordion" class="container">
                    <div class="card">
                        <div class="card-header text-center" id="titleHeading">
                            <h5>
                                <button class="btn btn-primary center" data-toggle="collapse" data-target="#titleCollapse" aria-expanded="true" aria-controls="titleCollapse">
                                    Post Your Question Directly
                                </button>
                            </h5>
                        </div>
                        <div id="titleCollapse" class="collapse" aria-labelledby="titleHeading" data-parent="#accordion">
                            <div class="card-body">
                                <form method="get" action="{% url 'search:post_question_request' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="title">Title:</label>
                                        <input type="text" id="title" name="title" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="body">Body:</label>
                                        <textarea id="body" name="body" class="form-control" rows="6" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="code">Code:</label>
                                        <textarea id="code" name="code" class="form-control" rows="6" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="page">Page:</label>
                                        <input type="text" id="page" name="page" class="form-control" placeholder="{{ page }}" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

{% for post in posts %}
<div class="row shadow-sm post_list_item_container" style="margin-bottom: 15px;">
    <div class="col post_list_item">
        <div class="post_meta">
            <a href="{% url 'search:detail' post.page post.post_ID %}">
                <h5>{{ post.title }}</h5>
            </a>
            <span class="comment_count">
                <a class="comment_count_icon" href="{% url 'search:detail' post.page post.post_ID %}">0</a>
                <p class="d-xl-flex justify-content-xl-start comment_count_nr">{{ post.comment_count }}</p>
            </span>

                    {% if post.related_question_ids %}

                    <button class="btn btn-outline-secondary  dropdown-toggle" type="button"
                            id="collapse_{{ post.post_ID }}" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cat"></i> &nbsp; siamese posts
          </button>

  <div class="dropdown-menu" aria-labelledby="collapse_{{ post.post_ID }}">

                  {% for related_id, related_title in post.related_questions %}
 <a class="dropdown-item" href="{% url 'search:detail' post.page related_id %}"><i class="fa fa-cat" aria-hidden="true"></i>
                 &nbsp;
                     {% if post.linked_posts %}
     {% if post.linked_posts == related_id %}
            <i class="fa fa-check" aria-hidden="true"></i>
       {% endif %}

     {% endif %}
      {{ related_title }}
                  </a>
                  {% endfor %}


        {% if post.linked_posts %}
              <div class="dropdown-divider"></div>
       <a class="dropdown-item" href="{% url 'search:detail' post.page post.linked_posts %}">
           <i class="fa fa-user" aria-hidden="true"></i>&nbsp;   {{ post.linked_posts_titles }} </a>

                  {% endif %}

        </div>
            {% else %}

                               {% if post.linked_posts %}

                                <button class="btn btn-outline-secondary  dropdown-toggle" type="button"
                            id="collapse2_{{ post.post_ID }}" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cat"></i> &nbsp; siamese posts
          </button>
              <div class="dropdown-menu" aria-labelledby="collapse2_{{ post.post_ID }}">

       <a class="dropdown-item" href="{% url 'search:detail' post.page post.linked_posts %}">
           <i class="fa fa-user" aria-hidden="true"></i>&nbsp;   {{ post.linked_posts_titles }} </a>
              </div>
                  {% endif %}

        {% endif %}





            <p class="author_name"><i class="fa fa-user"></i>{{ post.author_name }}</p>
            <p class="post_page"><i class="fas fa-book-open"></i> {{ post.page }}</p>
            <p class="post_accepted_answer">Accepted answer:&nbsp;<i class="far {% if post.accepted_answer_ID %} fa-check-circle {% else %} fa-times-circle {% endif %}"></i></p>
        </div>
        <hr class="post_meta_separator">
        <div style="clear: right"></div>
        <div class="post_text_container">
            <p>{{ post.text|safe }}</p>
        </div>
    </div>
</div>
{% empty %}
<div class="alert alert-warning" role="alert" style="margin-left: 10%; margin-right: 10%;" align="center">
    Sorry, there is no post to be displayed!
</div>
{% endfor %}